.formContainer {
  margin-top: 15%;
}

.robotoFam {
  font-family: 'Roboto', sans-serif;
}

.navBarItem {
  color: '#FFF';
  font-family: 'Roboto', sans-serif;
}

.friendList {
  overflow: scroll;
  height: 200px;
}

.userCard {
  height: 10em;
}

.underNav {
  margin-top: 75px;
}

.popupButton {
  width: 50px;
  position: absolute;
  right: 0;
}

.friendListDiv {
  position: fixed;
  bottom: 0;
  left: 0;
}