.formContainer {
  margin-top: 15%;
}

.robotoFam {
  font-family: 'Roboto', sans-serif;
}

.navBarItem {
  color: '#FFF';
  font-family: 'Roboto', sans-serif;
}

.friendList {
  overflow: scroll;
  height: 200px;
}