.formContainer {
  margin-top: 15%;
}

.backgroundPortion {
  background-image: url('https://images.unsplash.com/photo-1491331606314-1d15535360fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4043f16f3326ded0982882ac7e4fe7a6&auto=format&fit=crop&w=1050&q=80');
  background-size: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0.8;
}

.formGrid {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.robotoFam {
  font-family: 'Roboto', sans-serif;
}

.navBarItem {
  color: '#FFF';
  font-family: 'Roboto', sans-serif;
}

.friendList {
  overflow: scroll;
  height: 200px;
}

.userCard {
  height: 10em;
}

.underNav {
  margin-top: 75px;
}

.popupButton {
  width: 50px;
  position: absolute;
  right: 0;
}

.friendListDiv {
  position: fixed;
  bottom: 0;
  left: 0;
}